* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* --------------------------------------------------------HEADER-------------------------------------------------------- */

.header {
    height: 60px;
    width: 1490px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(22, 22, 22);
    color: white;
}

.header-menu {
    font-size: 1.5rem;
    padding: 20px;
}

.header-menu:hover {
    font-size: 1.7rem;
}