* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* --------------------------------------------------------HEADER-------------------------------------------------------- */

.header {
    height: 60px;
    width: 1490px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(22, 22, 22);
    color: white;
}

.header-menu {
    font-size: 1.5rem;
    padding: 20px;
}

.header-menu:hover {
    font-size: 1.7rem;
}

.header-logo {
    height: 56px;
    width: 100px;
    padding-right: 150px;
}

.logo {
    background-image: url(Color-YouTube-logo__1_-removebg-preview.png);
    height: 56px;
    width: 100px;
    background-size: cover;
    color: white;
}

.search-bar {
    height: 42px;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    border: 0.1px solid gray;
    padding-right: 30px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    background-color: rgb(36, 36, 36);
}

.search {
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border: 0.1px solid gray;
    width: 650px;
    padding-left: 20px;
    font-size: 1.1rem;
    height: 42px;
}

.search-logo {
    font-size: 1.7rem;
    padding-left: 25px;
    background-color: rgb(36, 36, 36);
}

.search-logo:hover {
    font-size: 1.9rem;
    padding-left: 25px;
    background-color: rgb(36, 36, 36);
}

.logo-search {
    height: 40px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 36, 36);
}

.recorder {
    height: 40px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 36, 36);
    border-radius: 50%;
    margin-right: 200px;
}

.microphone {
    font-size: 1.4rem;
}

.microphone:hover {
    font-size: 1.6rem;
}

.video {
    font-size: 1.5rem;
}

.video:hover {
    font-size: 1.7rem;
}

.bell {
    font-size: 1.6rem;
    padding-left: 10px;
    padding-right: 10px;
}

.bell:hover {
    font-size: 1.8rem;
    padding-left: 10px;
    padding-right: 10px;
}

.user {
    font-size: 1.5rem;
    padding-right: 30px;
}

.user:hover {
    font-size: 1.7rem;
    padding-right: 30px;
}

.forflex {
    display: flex;
}

.hssy {
    background-color: rgb(22, 22, 22);
    color: white;
    width: 90px;
    height: 856px;
}

.home {
    padding-top: 50px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;

}

.home:hover {
    padding-top: 50px;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;

}

.home-logo p {
    padding-top: 5px;
    font-size: .70rem;
}

.all {
    padding-top: 50px;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.all:hover {
    padding-top: 50px;
    font-size: 2.2rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.all-logo p {
    padding-top: 3px;
    font-size: .70rem;
    text-align: center;
}

.flexall {
    height: 800px;
    width: 1000px;
    background-color: rgb(22, 22, 22);
    color: white;
}

.navbar {
    height: 56px;
    width: 1400px;
    background-color: rgb(22, 22, 22);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-all {
    height: 32px;
    background-color: rgb(56, 56, 56);
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.cricket {
    height: 32px;
    background-color: rgb(56, 56, 56);
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.music {
    height: 32px;
    background-color: rgb(56, 56, 56);
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.webd {
    height: 32px;
    background-color: rgb(56, 56, 56);
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.appd {
    height: 32px;
    background-color: rgb(56, 56, 56);
    width: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.football {
    height: 32px;
    background-color: rgb(56, 56, 56);
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.sports {
    height: 32px;
    background-color: rgb(56, 56, 56);
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.ai {
    height: 32px;
    background-color: rgb(56, 56, 56);
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.af {
    height: 32px;
    background-color: rgb(56, 56, 56);
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.fs {
    height: 32px;
    background-color: rgb(56, 56, 56);
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.ipl {
    height: 32px;
    background-color: rgb(56, 56, 56);
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.dsa {
    height: 32px;
    background-color: rgb(56, 56, 56);
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.oops {
    height: 32px;
    background-color: rgb(56, 56, 56);
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.elite {
    background-color: rgb(56, 56, 56);
    color: white;
}

.elite:hover {
    background-color: white;
    color: black;
}

.main {
    height: 800px;
    width: 1400px;
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-wrap: wrap;
}

.vid {
    padding-left: 5px;
    padding-top: 30px;
    width: 345px;
}

.vid p {
    padding-top: 10px;
    padding-left: 3px;
    font-weight: 600;
}

.vido {
    padding-top: 30px;
    width: 345px;
}

.vido p {
    padding-top: 10px;
    padding-left: 3px;
    font-weight: 600;
}

.vid1 {
    padding-left: 5px;
    width: 345px;
}