* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* --------------------------------------------------------HEADER-------------------------------------------------------- */

.header {
    height: 60px;
    width: 1490px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(22, 22, 22);
    color: white;
}

.header-menu {
    font-size: 1.5rem;
    padding: 20px;
}

.header-menu:hover {
    font-size: 1.7rem;
}

.header-logo {
    height: 56px;
    width: 100px;
    padding-right: 150px;
}

.logo {
    background-image: url(Color-YouTube-logo__1_-removebg-preview.png);
    height: 56px;
    width: 100px;
    background-size: cover;
    color: white;
}

.search-bar {
    height: 42px;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    border: 0.1px solid gray;
    padding-right: 30px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    background-color: rgb(36, 36, 36);
}

.search {
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border: 0.1px solid gray;
    width: 650px;
    padding-left: 20px;
    font-size: 1.1rem;
    height: 42px;
}

.search-logo {
    font-size: 1.7rem;
    padding-left: 25px;
    background-color: rgb(36, 36, 36);
}

.search-logo:hover {
    font-size: 1.9rem;
    padding-left: 25px;
    background-color: rgb(36, 36, 36);
}

.logo-search {
    height: 40px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 36, 36);
}